.profile-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.profileHeader-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    padding: 24px;
    width: 50%;
    border-bottom: 1px solid gray;

}

.profileImg {
    display: flex;
    flex: 1;
}

.profileName-bio-container {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.profileImg {
    display: flex;
    align-items: flex-start;
}

.imgprofile-container {
    width: 175px;
    height: 175px;
    border-radius: 50%;


    border: 1px solid black;
}


.profileFollower-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
}

.name-container {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    flex: 1;
}

.editprofile-div {
    flex: 1;
    justify-content: flex-start;
}

.Follwer-FollowingDisplay {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.profilePosts {
    flex: 1;
}

.profilefollowers {
    flex: 1;
}

.profilefollowing {
    flex: 1;
}


.bio-information-container {
    display: flex;
    height: 50%;
    justify-content: flex-start;
    align-items: flex-start;
}


.profilePosts-container {
    flex: 8;
}

.profile-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: auto;
}